.App{
  min-height: 100vh;
  position: relative;
}

.home p {
  font-weight: 700;

}

/* Quiz question and answer choices */
.quiz-question {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 800px;
  }
  
  .quiz-question h2 {
    font-size: 18px;
    margin: 0;
  }
  
  /* Progress bar */
  .progress-bar {
    width: 100%;
    height: 12px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
  }
  
  /* Social media sharing buttons */
  .social-media-sharing {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .social-media-sharing a {
    font-size: 30px;
    color: #333;
    text-decoration: none;
  }
  
  .social-media-sharing a:hover {
    color: #4caf50;
  }
  
  /* Call-to-action button */
  .cta-button {
    text-align: center;
  }
  
  .cta-button button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .cta-button button:hover {
    background-color: #46a049;
  }
  
  .nav-light {
    /* background-color: #4caf50; */
    background: linear-gradient(135deg, #c6ffc8, #46a049 );
  }

  .mid{
    display: flex;
    justify-content: center;
  }

  .content {
    max-width: 650px;
    margin: 15px;
  }

  footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(130deg, #3e4a3f, #58e65d );
    color: rgb(255, 255, 255);
    margin-top: 15px;
  }

  .footer-nav {
    /* color: #4caf50; */
    margin: 5px 10px;
  }

  .footer-nav:hover {
    /* color: #46a049; */
    text-decoration: underline;

  }